

.menu {
    &__list {
        padding: 0;
        list-style-type: none;
    }
    &__item {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.title {
    padding: 40px 0;
}