.board {
	padding: 0 1rem 1rem;
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }
    
    @media only screen and (min-width: 768px) {
        padding: 0 2rem;
	}
    @media only screen and (min-width: 1024px) {
        padding: 0 calc(50% - 480px);
	}
    @media only screen and (min-width: 1200px) {
        padding: 0 calc(50% - 600px);
	}
}