@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet');

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #f6e6d7;
    font-family: 'Indie Flower', cursive;
    font-size: 1.6rem;
    color: #4f433c;
    font-weight: bold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
